body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(92,129,202,1);
  background: 
    -moz-linear-gradient(
      left, 
      rgba(92,129,202,1) 0%, 
      rgba(249,140,112,1) 100%
  );
  background:
    -webkit-linear-gradient(
        left, 
        rgba(92,129,202,1) 0%, 
        rgba(249,140,112,1) 100%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
