.ImageBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.FormBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.PromptBox {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 4%;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    margin-top: 2%;
    margin-bottom: 3%;
}

.PromptText {
    color: #DADCE0;
    text-transform: uppercase;
    margin-right: 2%;
}